.dice-section{
    direction: rtl;
    width: 100%;
    position: relative;
}

.dice-section input[type='button']{
    background-color: aquamarine;
    border-radius: 7px;
    padding: 7pt;
    cursor: pointer;
    width: 200px;
}
.movePlayerNo{
    color: #3c3232;
    font-size: 10pt;
    position: relative;
    top: -5pt;
    text-shadow: 0px 3px 5px black;
}

.moving-step{
    display: inline-block;
    width: 30px;
    height: 30px;
    border-radius: 50%;
    margin-left: 7pt;
    padding: 6px;
    box-shadow: inset -3px 9px 14px 3px #a3eba3;
}