.bar {
  width: 16%;
  float: left;
  border: 1px solid rgb(235, 184, 184);
  background-color: #f0c4c4;
  position: relative;
  text-align: center;
}

.bar.available:hover {
  background-color: #ebeff3;
  cursor: pointer;
}

.bar.selected {
  background-color: #8dff92;
  cursor: default;
}

.bar.top {
  border-radius: 0px 0px 50% 50% / 0px 0px 250px 250px;
  box-shadow: inset 2px -14px 13px 6px #811f1f;
  height: 100%;
  vertical-align: top;
}

.bar.bottom {
  border-radius: 50% 50% 0px 0px/ 250px 250px 0px 0px;
  box-shadow: inset -4px 8px 13px 6px #811f1f;
  height: 100%;
  vertical-align: bottom;
}

.bar.top span.ball {
  position: absolute;
  left: 3px;
  top: 0;
}

.bar.bottom span.ball {
  position: absolute;
  left: 3px;
  bottom: 0;
}